@use "../../scss/abstract/mixins" as *;

.player {
    @include flex($direction: row, $align: center, $gap: 2rem);

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 80px;
    padding-inline: 3.25rem;

    color: var(--foreground);

    background: hsl(256deg 30% 15%/50%);
    backdrop-filter: blur(1rem);

    svg {
        cursor: pointer;
        font-size: 1.25rem;
        color: var(--background);
        transition: var(--hover);

        &:hover {
            color: var(--white);
        }

        &.active {
            color: var(--white);
        }

        &.disabled {
            color: var(--text-light);

            &:hover {
                color: var(--background);
            }
        }
    }
}

.info {
    @include flex($direction: row, $align: center, $gap: 1rem);

    color: var(--foreground);

    h2 {
        font-size: 1rem;
    }

    span {
        display: inline-block;
        font-size: 0.75rem;
        opacity: 0.5;
    }

    h2,
    span {
        overflow: hidden;
        width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    img {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
    }
}

.controls {
    @include flex($direction: row, $align: center, $gap: 2rem);

    svg:nth-child(3) {
        width: 2rem;
        font-size: 2rem;
    }
}
