:root {
    --white: #ffffff;
    --background: #f7f7f7;
    --foreground: #fcfcff;
    --primary: #3c3abe;
    --primary-bg: #373658;
    --text: #2d2e37;
    --text-light: #c4c4c4;
    --light-shadow: rgba(149 157 165 / 5%);
}
